*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

a{
    text-decoration: none;
}



section{
    width: 100%;
    height: 10vh;
    background-color: white;
}

section nav{
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    background:white;
    justify-content: space-between;
}

section nav .logo{
    color: black;
    font-size: 35px;
    cursor: pointer;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    color: black;
    margin: 0 6px;
    padding:12px 10px;
    font-size:26px;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Inter';
font-style: normal;
/* font-weight: 700; */
font-size: 29px;
line-height: 24px;
text-align: center;
}

section nav ul li:hover{
    color: #27af5d;
}

.purplebtn{
    background: #6200EE;
box-shadow: 4px 4px 0px #000000;
border-radius: 6px;
width: 137px;
height: 43px;
color:white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 83px;
font-size:20px;
gap: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
}


.vitor{
    position:absolute;
    display:block;
    bottom:130px;
    
}

.vectorpart{
    height:75vh;
    background-color: antiquewhite;
}

.btnpart{
   height:30vh;
   background-color: bisque;

}
.trybtn{
    margin:auto;
}

#gripper{
    margin-top:100px;
    width:100%;
}

.launchpad{
    height:30vh;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    text-align:center;
    gap:3rem;
}

.textlaunch{
    font-size:80px;
    
}

.triangle1{
   margin:auto;
   margin-top:50px;
}

.boxes{
    height:100vh;
    background-color: rgb(6, 24, 24);
    
    display:flex;
    gap:80px;
    justify-content: center;
    align-items: center;
    z-index:100;
    position:relative;
}

.styler{
    width:414px;
    height:600px;
    background: #6200EE;
    border-radius: 16px;
    box-shadow: 6px 6px 0px #000000;

}

.styler1{
    width:414px;
    height:600px;
    background: white;
    border-radius: 16px;
    box-shadow: 6px 6px 0px #000000;

}

.backvector{
    z-index:2;
    overflow-x:hidden;
    margin-bottom:150;
    /* display:block; */

}

.mirrorbox{
    height:100vh;
    z-index:1;
    position:relative;
    background-color: rgb(155, 132, 132);
}

.redbox{
    height:590px;
    width:90vw;
    margin:auto;
    background-color:transparent;
    position:absolute;
   
    display:flex;
    gap:80px;
    justify-content: center;
    align-items: center;
    top:10vh;
    left:5vw;
    z-index:3;
}


.glass{
    height:130vh;
    background: white;
    position:relative;
    border-radius: 26px;
}

.virus{
    z-index:2;
    position:absolute;
}

.virus1{
    z-index:2;
    position:absolute;
    right:0px;
    
}
.virus2{
    z-index:2;
    position:absolute;
    top:400px;
    
}

.translucent{
    height:800px;
    width:90%;
    backdrop-filter: blur(43px);
    /* background-color: #6200EE ; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(98,0,238,0.31);
-moz-box-shadow: 10px 10px 5px 0px rgba(98,0,238,0.31);
box-shadow: 10px 10px 5px 0px rgba(98,0,238,0.31);
    backdrop-filter: blur(43px);
    position:absolute;
    margin-left:4rem;
    border-radius: 26px;
    margin-top:4rem;
    z-index:13;
    
}   

.translucentext{
    font-size:46px;
    color:#6200EE;
    text-align: center;
    margin-top:50px;
}

.translucentext1{
    font-size:56px;
    color:#6200EE;
    text-align: center;
    margin-top:20px;
}

.circleflex{
    height:200px;
    width:40%;
    margin:auto;
    margin-top:40px;
    z-index:15;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  /* row-gap:10px; */
  flex-basis: 33.333%;
  flex-wrap: wrap;
background-color: transparent;
}
.circlules{
    height:70px;
    width:70px;
    border-radius: 50px;
    background: #6200EE;

}

.glassbtn{
    margin-top:100px;
}

.pikachu{
  overflow-x:hidden;
  z-index:16 ;
  position:absolute;

}

.processflow{
    height:180vh;
    background: skyblue;
    position: relative;
    overflow: hidden;
}

.processtext{
    text-align:center;
    position:absolute;
    z-index:17;
   display: flex;
   justify-content: center;
    top:100px;
    width:100%;
    font-size: 80px;
}

.processbox{
    position: absolute;
width: 630px;
height: 436px;
margin:auto;
top:400px;
left:450px;
/* left: 389px;
top: 2903px; */
z-index:20;
background: #FFFFFF;
box-shadow: 6px 6px 0px #000000;
border-radius: 16px;
}



/* timeline css  */

.container23{
    padding:2rem;
    padding-bottom:100px;
    margin:auto;
    top:290px;
    width:900px;
    z-index:53;
   left:20%;
  
    position:absolute;
    background-color:transparent;
}
.timeline{
    position:relative;
    min-height:150px;
}

.line{
    position:absolute;
    z-index:22;
    left:calc(50% - 1px);
    width:2px;
    top:-50px;
    bottom:-50px;
    background-color: #000;
    display:none;
}

.line:before,
.line:after{
     position:absolute;
     display:block;
     content:"";
     height:1rem;
     width:1rem;
     border-radius: 50%;
     background-color: #000;
     left:50%;
     transform:translate(-50%);

}

.line:after{
    bottom:0;
}

.section{
    display:flex;
    opacity:0;
    transform:translateX(-100%);
    transition:600ms ease;
    position:relative;
    z-index:1;
    margin:50px 0;
    padding:1rem;
    border-radius: 1rem;
    align-items: center;
    min-height:100px;
}


.section:nth-child(odd){
    flex-direction:row-reverse;
    transform:translateX(100%);
}

.bead{
    position:absolute;
    display: block;
    height:1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left:50%;
    top:5%;
    transform:translateX(-50%);
}

.content{
    width:calc(50% - 1rem);


    position: absolute;
width: 330px;
height: 236px;


background: white;
box-shadow: 6px 6px 0px #000000;
border-radius: 16px;
}

.show-me:nth-child(n){
    transform:none;
    opacity:1;
}


.gridboxes{
    height:100vh;
}
